{% extends 'temp/public.html' %}
{% block base %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>TRACKING</title>
</head>
<body>
<center><h1>CONSIGNMENT</h1>
<form method="post">
    {% csrf_token %}
            <input type="text" name="track">
    <input type="submit" name="submit"></form>
            <table align="center" border="2">


		<tr>
				<th>Description</th>
				<th>Branch Processed</th>
				<th>Branch Pickup</th>
				<th>Delivery Date</th>
                <th>tracking no</th>
		</tr>

                {% for i in objval %}

		<tr>
			<td>{{i.courier_description }}</td>
			<td>{{ i.branch_processed }}</td>
			<td>{{ i.pickup_branch }}</td>
			<td>{{ i.date }}</td>
            <td>{{ i.tracking_no }}</td>
		</tr>
                {% endfor %}
	</table>

        </center>
</body>
</html>
{% endblock %}