{% extends 'temp/home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATION</title>
</head>
<body>
<center>BRANCH REGISTRATION</center></h1>
	<form method="post">
        {% csrf_token %}
	    <table align="center">
		<tr>
			<th>Name</th>
			<td><input type="text" name="name" required=""></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><textarea  name="address" required=""></textarea></td>
		</tr>
			<th>E-mail</th>
			<td><input type="mail" name="mail" required=""></td>
		</tr>
		<tr>
			<th>City</th>
			<td><input type="text" name="city" required=""></td>
		</tr>
		<tr>
			<th>State</th>
			<td><input type="text" name="State" required=""></td>
		</tr>
		<tr>	
			<th>Country</th>
			<td><input type="text" name="Country" required=""></td>
		</tr>
		<tr>	
			<th>Pincode</th>
			<td><input type="text" name="Pincode" required=""></td>
		</tr>
		<tr>
		    <th>Contact No</th>
			<td><input type="phone" name="Contact" required=""></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><input type="text" name="uname" required=""></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="password" required=""></td>
		</tr>
            <tr>
                <td></td>
                <td><input type="submit" name="register" value="Register"></td>
            </tr>
		
	</table>
    </form>

</body>
</html>
{% endblock %}